.header {
	height: 90px;
	background-color: #eb004d;
}
.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}
li {
  list-style: none;
  float: left;
  padding: 33px 20px;

}
.header a {
	text-decoration: none;
	color: #fff;
}
h1 {
	color: #eb004d;
}

/* 投稿ページ */
.comment {
	width: 450px;
	height: 320px;
	background-color: #eb004d;
	padding: 10px;
}
.comment h3{
	color: #ffffff;
	margin: 10px;
}
.comment input {
	float: left;
	margin: 10px;
	width: 400px;
}
.comment textarea {
	float: left;
	margin: 10px;
	width: 400px;
}
